<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H994K56B81"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H994K56B81');
</script>
  <title>Galaxy Gaming 2</title>
  <link rel="icon" type="image/x-icon" href="/imgs/brand-imgs/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<style>
    img {
        object-fit: cover;
    }
</style>
    <body>
        <div class="navbar">
            <button type="button" class="navbar-buttons-current" onclick="location.href='/';">Home</button>
            <button type="button" class="navbar-buttons-right" onclick="location.href='/admin';">Admin</button>
            <button type="button" class="navbar-buttons-right" onclick="location.href='/credits.html';">Credits</button>
        </div>
        <h1>Welcome to Galaxy Gaming 2!</h1>
        <p>Thanks for using GX2.</p>
        <p>Go to our new game website database! <a href="https://opengamedb.bitsyncdev.com">Here</a></p>
        <div class="gamebtncenter">
            {% for game in games %}
                <button style="width: 200px; height: 200px;" onclick="location.href='/player?name={{ game.name_short }}';" class="rgbbtn"><img src="{{ game.img_path }}" width=100px height=100px><br>{{ game.name }}</button>
            {% endfor %}
        </div>
        <br><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3732652475982269"
        crossorigin="anonymous"></script>
   <!-- sidebar ad -->
   <ins class="adsbygoogle"
        style="display:inline-block;width:120px;height:728px"
        data-ad-client="ca-pub-3732652475982269"
        data-ad-slot="8767550412"></ins>
   <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
   </script>    
        <div>
          <footer>Website version: NaN<br>Thanks for visiting GX2! <a style="color: white;" href="/credits.html">Credits</a> <a style="color: white;" target="_blank" href="https://github.com/galaxy-gaming/gx2">Github Repo</a>
        </footer> <!-- We are working on the website version -->
    </div>
    </body>
</html>