<!DOCTYPE html>
<html>
<head>
  <title>Galaxy Gaming 2</title>
  <link rel="icon" type="image/x-icon" href="/imgs/brand-imgs/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<style>
    img {
        object-fit: cover;
    }
</style>
    <body>
        <div class="navbar">
            <button type="button" class="navbar-buttons-current" onclick="location.href='/';">Home</button>
            <button type="button" class="navbar-buttons-right" onclick="location.href='/admin';">Admin</button>
            <button type="button" class="navbar-buttons-right" onclick="location.href='/credits.html';">Credits</button>
        </div>
        <h1>Welcome to Galaxy Gaming 2!</h1>
        <p>Thanks for using GX2.</p>
        <div class="gamebtncenter">
            {% for game in games %}
                <button style="width: 200px; height: 200px;" onclick="location.href='/player?name={{ game.name_short }}';" class="rgbbtn"><img src="{{ game.img_path }}" width=100px height=100px><br>{{ game.name }}</button>
            {% endfor %}
        </div>
        <div>

        </div>
          <footer style="margin-bottom: -30px;">Website version: NaN<br>Thanks for visiting GX2! <a style="color: white;" href="/credits.html">Credits</a> <a style="color: white;" target="_blank" href="https://github.com/galaxy-gaming/gx2">Github Repo</a>
            <p>Plays: {{ counter }}</p>
        </footer> <!-- We are working on the website version -->
    </body>
</html>